<div class="home">
    <section class="bg-image" style="height:900px">
        <img src="https://github.com/akashkaran01/web-app-1/blob/feature/header/src/assets/image/Firemen-with-smartphones_1200x800_2.jpg">
    </section>
    <section class="latest-products">
        <div class="latest-products-item-1">
            <div class="item-content">
                <span class="latest-products-item-modelname">PT590</span>
                <span class="latest-products-item-name">Mission Critical TETRA Portable Radio</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
        <div class="latest-products-item-2">
            <div class="item-content">
                <span class="latest-products-item-modelname">PNC460</span>
                <span class="latest-products-item-name">XRugged Smart Device</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
    </section>
</div>