<div class="home">
    <section class="bg-image">
        <div class="disaster-img"></div>
    </section>
    <section class="latest-products">
        <div class="latest-products-item-1">
            <div class="item-content">
                <span class="latest-products-item-modelname">PT590</span>
                <span class="latest-products-item-name">Mission Critical TETRA Portable Radio</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
        <div class="latest-products-item-2">
            <div class="item-content">
                <span class="latest-products-item-modelname">PNC460</span>
                <span class="latest-products-item-name">XRugged Smart Device</span>
                <div class="hyperlink">Learn More</div>
            </div>
        </div>
    </section>
</div>