.dmr-two-way-radios-img-1 {
  background-image: url("../../../../assets/image/HP780_1.jpg");
  width: 575px;
  height: 550px;
}

.dmr-repeaters-img-1 {
  background-image: url("../../../../assets/image/dmr-tier-III.jpg");
  width: 575px;
  height: 550px;
}
